* {
  padding: 0%;
  margin: 0%;
}
section {
  display: flex;
  font-family: "Roboto", sans-serif;
}
.contacts {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 25%;
  background-color: white;
  color: #828485;
}
.contacts h2 {
  font-weight: 700;
  color: black;
}
.infoactivo {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 16px 24px;
  border: 1px solid #bec1bb;
}
.contacts img {
  width: 45px;
  border-radius: 50%;
}
.estado {
  display: flex;
  flex-direction: column;
}
.section1 {
  display: flex;
  gap: 1rem;
}
.iconos {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nuevochat {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0 2em 0;
  border: 1px solid #bec1bb;
}
.nuevochat button {
  background-color: #a491d2;
  border: none;
  color: white;
  width: 50%;
  height: 50px;
}
.nuevochat button:hover {
  background-color: #cdc3e6;
}

.nuevochat button:focus {
  background-color: #bec1bb;
}
.contactos {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  padding: 15px;
  border: 1px solid #bec1bb;
  font-size: small;
}
.infocontacto {
  display: flex;
  flex-direction: column;
  color: black;
}
.main {
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  align-items: center;
  justify-content: center;
}
.main img {
  width: 300px;
}
.main div {
    max-width: 50%;
    text-align: center;
}